* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: beige;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container, #display, #buttons{
    display: flex;
}

.container{
    flex-direction: column;
    height: 80vh;
    width: minmax(500px, 800px);
    padding: 3px;
    border-radius: 5px;
    border: 3px solid black;
    box-shadow: 0 0 5px 5px;
}

#display {
    height: 30%;
    flex-direction: column;
}

#display #previous, #current {
    height: 80px;
    font-size: 1.5rem;
    text-align: end;
    padding: 5px;

}

#buttons {
    flex-direction: row;
    flex-wrap: wrap;
    height: 700px;
    width: 658px;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.button {
    min-width: 70px;
    height: 70px;
    font-size: 50px;
    font-weight: 600;
    padding: 8px 20px;
    margin: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: aquamarine;
    box-shadow: 0 0 3px 3px;
}

.button:hover {
    cursor: pointer;
}